
div.zebra:nth-child(even) {
    background: #d7e1e4;
}

div.zebra {
    border: 1px solid #999;
    margin-bottom: 2em;
    padding: 1em;
}

div.zebra:nth-child(odd) {
    background: #d7d7e4;
}

.section-image img {
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 6px 3px #555;
}

.section-share {
    
}

.section-share em {

}

.section-share a {

}

.section-update {
    line-height: 1em;
    clear: both;
    border: 1px solid black;
    padding: .5em;
    margin: 0 0em;
    background: #000;
    color: #fff;
    font-family: serif;
}

.section-update a {
    color: darkseagreen;
}