<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="section-share">
      <a href="/help-save-our-services/">Click here to <em>Share this Website</em>!!!</a>
    </div>
    
    <div class="section-update">

      <p>
      <b>UPDATE</b> The budget vote <a href="https://www.nccde.org/DocumentCenter/View/24978/18-024">O18-024</a> failed to pass.
        There were only 3 yes votes (
        <a href="http://www.nccde.org/505/John-Cartier-District-8">Cartier</a>,
        <a href="http://www.nccde.org/530/David-Tackett-District-11">Tackett</a>, and
        <a href="http://www.nccde.org/436/Robert-Weiner-District-2">Weiner</a>).
      </p>

      <p>
        There is a <a href="https://www.delawareonline.com/story/news/2018/05/22/county-council-votes-down-proposed-tax-increase/634632002/">News Journal article</a>
        that tells a decent story of the budget vote meeting.
      </p>

      <p>
        There is a Special County Council meeting next Tuesday, May 29, 2018. On the agenda is 
        <a href="https://www.nccde.org/DocumentCenter/View/25788/18-061">O18-061</a>, another budget ordinance similar to
        <a href="https://www.nccde.org/DocumentCenter/View/24978/18-024">O18-024</a>.
      </p>
      
      
    </div>
    
  </div>
  

</header>
