<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="section-share">
      <a href="/help-save-our-services/">Click here to <em>Share this Website</em>!!!</a>
    </div>
    
    <div class="update">
      <p>
      <b>UPDATE:</b> The budget vote <a href="https://www.nccde.org/DocumentCenter/View/24978/18-024">O18-024</a> failed to pass.
      </p>
      
      <p>
      There were only 3 yes votes (
      <a href="http://www.nccde.org/505/John-Cartier-District-8">Cartier</a>, 
      <a href="http://www.nccde.org/530/David-Tackett-District-11">Tackett</a>, and
      <a href="http://www.nccde.org/436/Robert-Weiner-District-2">Weiner</a>). 
      Please take some time to contact these Councilmen and thank them for their vote to save our services.<br/>
      </p>

      <p>
      I'm not sure what happens next. I think the next step is for County Executive Matt Meyer to give a new budget for the
      Council to vote on. He has indicated that he will not propose a budget that continues to spend more money than the
      county take in, which sounds like the next budget will include service cuts.
      </p>
      
      <p>
      There is a <a href="https://www.delawareonline.com/story/news/2018/05/22/county-council-votes-down-proposed-tax-increase/634632002/">News Journal article</a>
      that tells a decent story of last night's meeting.
      </p>
      
    </div>
    
  </div>
  

</header>
